@use '_variables.scss' as *;

@mixin text-1 {
  font-family: $font-family;
  font-size: 32px;
  line-height: 137.5%;
  letter-spacing: 0px;
  font-weight: $extra-bold-font;
}

@mixin text-2 {
  font-family: $font-family;
  font-size: 24px;
  line-height: 137.5%;
  letter-spacing: 0px;
  font-weight: $extra-bold-font;
}

@mixin text-3 {
  font-family: $font-family;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0px;
  font-weight: $extra-bold-font;
}

@mixin text-4-bold {
  font-family: $font-family;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0px;
  font-weight: $semi-bold-font;
}

@mixin text-4-light {
  font-family: $font-family;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0px;
  font-weight: $light-font;
}

@mixin text-5-regular {
  font-family: $font-family;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0px;
  font-weight: $regular-font;
}

@mixin text-5-light {
  font-family: $font-family;
  font-size: 14px;
  line-height: 225%;
  letter-spacing: 0px;
  font-weight: $light-font;
}

@mixin text-6-bold {
  font-family: $font-family;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0px;
  font-weight: $semi-bold-font;
}

@mixin text-6-regular {
  font-family: $font-family;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0px;
  font-weight: $regular-font;
}

@mixin text-6-light {
  font-family: $font-family;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0px;
  font-weight: $light-font;
}
