$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

$grey-950: hsl(200, 15%, 8%);
$grey-400: hsl(0, 0%, 50%);
$grey-350: hsl(0, 0%, 59%);
$grey-300: hsl(0, 0%, 70%);
$grey-250: hsl(0, 0%, 77%);
$grey-50: hsl(0, 0%, 99%);

$blue-950: hsl(207, 26%, 17%);
$blue-900: hsl(209, 23%, 22%);

$font-family: 'Nunito Sans', sans-serif;
$light-font: 300;
$regular-font: 400;
$semi-bold-font: 600;
$extra-bold-font: 800;

// Spacing
$sp-100: 8px;
$sp-200: 16px;
$sp-300: 24px;
$sp-400: 32px;
$sp-500: 40px;
$sp-600: 48px;
$sp-700: 56px;
$sp-800: 64px;
$sp-900: 72px;
$sp-1000: 80px;
